---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 8);

---


<section class="container">
    <h2>Blog</h2>
    <p>Novedades | Publicaciones | Artículos (Dezliza hacia la izquierda para ver más)</p>
    <div class="swiper blog-swiper">
        <div class="swiper-wrapper">
            {
                posts.map((post) => (
                    <div class="swiper-slide blog-item">
                        <a href={`/blog/${post.slug}/`} class="blog-item__link">
                            <img width={720} height={360} src={post.data.heroImage} alt="{post.data.title}" class="blog-item__image" />
                            <div class="blog-item__content">
                                <p class="blog-item__date">
                                    <FormattedDate date={post.data.pubDate} />
                                </p>
                                <h4 class="blog-item__title">{post.data.title}</h4>
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style>
    h2{
        color: #333;
        font-size: 3rem;
        margin-bottom: 0;
    }
    p {
        color: #666;
    }
    .container {
        width: 92%;
        max-width: 1200px;
        margin: 36px auto;
    }

//    blog-item styles
    .blog-item {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .blog-item__link {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background: #fff;
        text-decoration: none;
        position: relative;
    }
    .blog-item__image {
        display: block;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
    .blog-item__content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        background: linear-gradient(0deg, #fff, rgba(255, 255, 255, .75));
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        padding: 1rem 0;
    }
    .blog-item__link:hover .blog-item__content {
        bottom: 0;
    }
    .blog-item__date {
        margin: 0;
        color: #666;
        padding: 0 1rem;
    }
    .blog-item__title {
        margin: 0;
        color: #333;
        font-size: 1.4rem;
        padding: 0 1rem;
    }
    .swiper-slide {
        width: 100%;
    }
    .swiper-slide img {
        border-radius: 8px;
    }
    .swiper-slide-active img {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
</style>

<script>
    import Swiper from 'swiper';
    const swiper: Swiper = new Swiper('.blog-swiper', {
        slidesPerView: 2,
        spaceBetween: 12,
    });
</script>